# --- CONFIGURACIÓN GENERAL DE DJANGO ---
DJANGO_SECRET_KEY=django-insecure-tu-clave-secreta-aqui
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,192.168.1.2

# --- BASE DE DATOS (POSTGRESQL POR DEFECTO) ---
DB_ENGINE=django.db.backends.postgresql
DB_NAME=bienes_publicos
DB_USER=postgres
DB_PASSWORD=tu_clave_aqui
DB_HOST=localhost
DB_PORT=5432

# --- SEGURIDAD Y CORS ---
CORS_ALLOW_ALL_ORIGINS=True
# Si se desactivan todos los orígenes, especificar separados por comas:
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200

# --- JWT CONFIGURATION ---
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=1

# --- CONFIGURACIÓN DE ALMACENAMIENTO DE OBJETOS (MINIO S3) ---
USE_MINIO=False
MINIO_ENDPOINT_URL=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=bienes-publicos

# --- CONFIGURACIÓN DE NOTIFICACIONES POR CORREO (GMAIL) ---
EMAIL_HOST_USER=tu-correo@gmail.com
EMAIL_HOST_PASSWORD=tu-contrasena-de-aplicacion-de-google

# --- CONSULTA DE FUNCIONARIOS (SISCOM DEM - solo accesible en red interna) ---
WSSISCOM_EVALUACION_URL=http://wssiscom.dem.int/evaluacion


